---
import Contact from "../components/Contact.tsx";
import Footer from "../components/Footer.tsx";
import Header from "../components/Header.tsx";
import Logo from "../components/Logo.tsx";
import Paragraph from "../components/Paragraph.tsx";
import Process from "../components/Process.tsx";
import Screenshots from "../components/Screenshots.tsx";
import Services from "../components/Services.tsx";
import Layout from "../layouts/Layout.astro";

const containerStyle =
  "flex flex-col gap-16 px-4 xl:px-96 lg:px-40 md:px-12 py-16";
---

<Layout>
  <div class="flex flex-col">
    <div class={containerStyle}>
      <Logo />
      <Header />
      <Paragraph>
        Stop wrestling with data, start using it. North Star Data delivers
        expert data engineering and analytics consulting tailored for small and
        medium-sized businesses. We transform your complex data into a strategic
        asset through a simple subscription service, giving you clear insights
        and freeing you up to focus on running your business.
      </Paragraph>
    </div>
    <Screenshots client:only="react" />
    <div class={containerStyle}>
      <Paragraph>
        We provide exceptional data engineering and analytics consulting by
        partnering with your team to craft impactful data strategies, implement
        scalable cloud data infrastructures, ensure efficient data management,
        and deliver actionable insights for informed decision-making.
      </Paragraph>
      <Services />
      <Paragraph>
        Unlike traditional consultants, we understand that data engineering is
        an ongoing process. That's why we're committed to being your long-term
        partner, helping to continually evolve your organization's data
        maturity.
      </Paragraph>
      <Process />
      <Paragraph>
        Constructing an in-house data team can be both costly and
        time-intensive. North Star Data provides a cost-effective solution. Our
        service comes with clear pricing and no hidden fees, ensuring you get
        reliable value every month.
      </Paragraph>
      <Contact />
      <Footer />
    </div>
  </div>
</Layout>
